apiVersion: apps/v1
kind: deployment
metadata:
  name: service
  labels:
    app: service
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: service
      
  template:
    metadata:
      labels:
        app: service
        tier: service
    spec:
      containers:
        - name: service
          image: dockkunal/jenkins-pipeline:latest
          imagePullPolicy: Always
          ports:
          - containerPort: 5000
            name: service


---
apiVersion: v1
kind: Service
metadata:
  name: service
  labels:
    app: service
spec:
  ports:
    - port: 5000
      targetPort: 5000
  selector:
    app: service
    tier: service
  type: LoadBalancer
