apiVersion: rbac.authorization.k8s.io/v1
kind: Deployment
metadata:
  labels:
    app: order-service
  name: order-service
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      lables:
      app: order-service
    spec:
      containers:
      - image: dockkunal/jenkins-pipeline:latest
        imagePullPolicy: Always
        name: orderservice
      restartPolicy: Always
      terminationGracePeriodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: order-service
  name: order-service
  namespace: default
spec:
  ports:
  - nodePort: 32208
    port: 8081
    protocol: TCP
    targetPort: 8081
  selector:
    app:
  sessionAffinity: None
  type: LoadBalancer
